.u-section-1 .u-sheet-1 {
  min-height: 665px;
}

.u-section-1 .u-group-1 {
  width: 999px;
  height: 213px;
  background-image: none;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  min-height: 213px;
  margin: 62px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-style: italic;
}

.u-section-1 .u-group-2 {
  width: 484px;
  --radius: 30px;
  height: auto;
  min-height: 56px;
  margin: 35px auto 0 71px;
}

.u-section-1 .u-container-layout-2 {
  padding: 11px 30px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0 49px;
}

.u-section-1 .u-group-3 {
  width: 484px;
  --radius: 30px;
  height: auto;
  min-height: 56px;
  margin: -61px 71px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 0 5px;
}

.u-section-1 .u-text-6 {
  font-weight: 600;
  margin: 39px 70px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 41px 70px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    --radius: 10px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 56px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 56px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 107px;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 368px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 47px auto 0 72px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 37px auto 0 72px;
  padding: 10px 17px 10px 15px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: -49px 47px 0 auto;
  padding: 10px 18px;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  margin: 30px 542px 0 72px;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-weight: 600;
  margin: -101px 12px 47px 626px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 414px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 438px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 194px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 218px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 14px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 320px;
}

.u-section-3 .u-group-1 {
  width: 855px;
  min-height: 275px;
  height: auto;
  margin: 10px auto 35px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-icon-1 {
  height: 67px;
  width: 67px;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1.7;
  font-style: italic;
  font-weight: 700;
  margin: 8px 0 0;
}

.u-section-3 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-3 .u-group-1 {
    min-height: 188px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
    min-height: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 108px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    min-height: 68px;
  }
}