 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 475px;
}

.u-section-1 .u-group-1 {
  width: 1087px;
  height: auto;
  background-image: none;
  --top-right-radius: 20px;
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  min-height: 399px;
  margin: 76px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  width: auto;
  font-weight: 600;
  margin: -258px 157px 0 30px;
}

.u-section-1 .u-text-2 {
  width: auto;
  font-weight: 700;
  margin: -33px 15px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 800;
  font-size: 3.75rem;
  margin: 46px auto 0 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  margin: 46px 222px 0 30px;
}

.u-section-1 .u-text-5 {
  margin: 60px 304px 0 30px;
}

.u-section-1 .u-text-6 {
  width: auto;
  font-weight: 500;
  font-size: 1rem;
  margin: 80px 0 0;
}

.u-section-1 .u-text-7 {
  width: auto;
  font-weight: 700;
  font-size: 1rem;
  margin: 35px 0 0;
}

.u-section-1 .u-text-8 {
  margin-top: 30px;
  margin-bottom: 60px;
  font-weight: 400;
}

.u-section-1 .u-text-9 {
  width: auto;
  font-weight: 400;
  margin: 70px 0 60px 15px;
}

.u-section-1 .u-text-10 {
  width: auto;
  font-weight: 700;
  margin: -488px 10px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    min-height: 408px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-weight: 800;
    margin-top: 72px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -238px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 82px;
    margin-right: 75px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 469px;
  }

  .u-section-1 .u-group-1 {
    min-height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -237px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -127px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-1 .u-group-1 {
    min-height: 293px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -338px;
    margin-right: 20px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 800;
    margin-top: 41px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -394px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 81px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 59px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-weight: 500;
    margin: -182px 0 0 15px;
  }

  .u-section-1 .u-text-9 {
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-right: -9px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -401px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 93px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 48px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -223px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -269px;
    margin-left: 5px;
    margin-right: 5px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 421px;
}

.u-section-2 .u-list-1 {
  margin-top: 71px;
  margin-bottom: 33px;
}

.u-section-2 .u-repeater-1 {
  min-height: 317px;
  grid-template-columns: repeat(3, calc(33.3333% - 21.3333px));
  grid-auto-columns: calc(33.3333% - 21.3333px);
  grid-gap: 32px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 30px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-2 .u-text-1 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  transition-duration: 0.5s;
  margin: 0 -24px 0 20px;
}

.u-section-2 .u-text-2 {
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 31px auto 0 20px;
  padding: 5px 0 6px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 30px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 0;
}

.u-section-2 .u-text-3 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  margin: 0 -24px 0 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 31px auto 0 20px;
  padding: 5px 0 6px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 0px 0px 20px 0px rgba(128,128,128,0.4);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  --radius: 30px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 0;
}

.u-section-2 .u-text-5 {
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  font-weight: 700;
  font-size: 1.5rem;
  transition-duration: 0.5s;
  margin: 0 -24px 0 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-style: normal;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 20px 20px 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 31px auto 0 20px;
  padding: 5px 0 6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 258px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 21.3333px));
    grid-auto-columns: calc(33.333333333333336% - 21.3333px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 640px;
    grid-template-columns: repeat(2, calc(50% - 15.999975000000001px));
    grid-auto-columns: calc(50% - 15.999975000000001px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 20px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -20px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-1 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 11px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 11px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 11px;
  }

  .u-section-2 .u-text-5 {
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 11px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 40px;
    margin-bottom: 5px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 755px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 30px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 30px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 30px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 23px;
    margin-left: auto;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before,
.u-section-2 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-2,
.u-section-2 .u-text-2:before,
.u-section-2 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before,
.u-section-2 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-3,
.u-section-2 .u-btn-3:before,
.u-section-2 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-2,
.u-section-2 .u-btn-2:before,
.u-section-2 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 420px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 412px;
  height: 412px;
  background-image: url("images/MindMIrths.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 19px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 27px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 360px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-3 .u-image-1 {
    width: 321px;
    height: 321px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-3 .u-image-1 {
    width: 236px;
    height: 236px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 2px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -418px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 10px;
    margin-left: 236px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1rem;
    margin-top: 12px;
    margin-right: 24px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 27px;
    margin-bottom: 19px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 487px;
  }

  .u-section-3 .u-image-1 {
    width: 155px;
    height: 155px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -457px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 27px;
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-right: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 317px;
}

.u-section-4 .u-text-1 {
  letter-spacing: 1px;
  margin: 41px 16px 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 51px 16px 60px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}

.u-section-4 .u-text-4 {
  width: auto;
  margin: 27px 12px 60px;
}

.u-section-4 .u-text-5 {
  width: auto;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  width: auto;
  font-size: 1rem;
  margin: 27px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 387px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 27px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin: -24px 12px 0;
  }

  .u-section-4 .u-text-4 {
    margin-bottom: 3px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 49px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -35px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.75rem;
    margin-bottom: 26px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 639px;
}

.u-section-5 .u-group-1 {
  width: 1087px;
  height: auto;
  background-image: none;
  --top-right-radius: 20px;
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  margin: 77px auto 26px;
}

.u-section-5 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 800;
  font-size: 3.75rem;
  margin: 43px auto 0 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 5px 0 0 30px;
}

.u-section-5 .u-text-3 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 63px 222px 0 30px;
}

.u-section-5 .u-text-4 {
  width: 510px;
  margin: 22px 15px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  --top-right-radius: 20px;
  --bottom-right-radius: 20px;
  font-weight: 700;
  margin: 30px auto 0 30px;
  padding: 8px 27px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  --top-right-radius: 20px;
  --bottom-right-radius: 20px;
  font-weight: 700;
  margin: 43px auto 0 30px;
  padding: 8px 27px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  font-size: 1rem;
  margin: 125px 15px 0;
}

.u-section-5 .u-text-5 {
  margin: 43px 304px 0 30px;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-5 .u-text-6 {
  width: auto;
  font-size: 1rem;
  margin: 172px 15px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1rem;
  width: auto;
  margin: -323px 0 0 13px;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  font-weight: 400;
  font-size: 1rem;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: 75px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 68px;
    margin-bottom: 60px;
    min-height: 400px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 1px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 65px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 26px;
    margin-right: -16px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 77px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-3 {
    font-weight: 700;
    --top-right-radius: 20px;
    --bottom-right-radius: 20px;
    font-size: 0.875rem;
    margin-top: 108px;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 129px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-5 .u-btn-4 {
    font-weight: 700;
    --top-right-radius: 20px;
    --bottom-right-radius: 20px;
    font-size: 0.875rem;
    margin: -127px auto 0 15px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    min-height: 345px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-top: 26px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 30px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 206px;
    margin-right: -112px;
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: -125px;
    margin-right: -97px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 244px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.75rem;
    margin-top: -261px;
  }

  .u-section-5 .u-btn-5 {
    font-weight: 700;
    --top-right-radius: 20px;
    --bottom-right-radius: 20px;
    font-size: 0.625rem;
    margin: 26px auto 0 11px;
    padding: 9px 16px 10px;
  }

  .u-section-5 .u-btn-6 {
    font-weight: 700;
    --top-right-radius: 20px;
    --bottom-right-radius: 20px;
    font-size: 0.625rem;
    margin: 43px auto 0 11px;
    padding: 9px 14px 11px 12px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 731px;
}

.u-section-6 .u-group-1 {
  width: 441px;
  height: auto;
  background-image: none;
  min-height: 298px;
  --top-left-radius: 30px;
  --top-right-radius: 30px;
  --bottom-left-radius: 30px;
  margin: 51px auto 0 53px;
}

.u-section-6 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-6 .u-text-1 {
  margin: 20px 68px 0 20px;
}

.u-section-6 .u-text-2 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px 123px 0 20px;
}

.u-section-6 .u-text-3 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 27px 123px 0 20px;
}

.u-section-6 .u-text-4 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 27px 7px 0 20px;
}

.u-section-6 .u-group-2 {
  width: 575px;
  height: auto;
  background-image: none;
  min-height: 490px;
  --top-right-radius: 30px;
  --bottom-left-radius: 30px;
  --bottom-right-radius: 30px;
  margin: -243px 53px 60px auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 13px 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0 20px;
}

.u-section-6 .u-text-6 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 34px 221px 0 20px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-7 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 37px 51px 0 20px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-8 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 42px 7px 0 20px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-9 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 35px 51px 0 20px;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-10 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 37px 51px 0 20px;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-11 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 42px 0 0 20px;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 919px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 49px;
    margin-left: 0;
  }

  .u-section-6 .u-group-2 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -62px;
  }

  .u-section-6 .u-group-2 {
    min-height: 513px;
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: -14px;
    margin-left: 21px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 36px;
    margin-right: 193px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 35px;
    margin-right: 23px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 41px;
    margin-right: -13px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 37px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin-top: 41px;
    margin-right: 34px;
    margin-left: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    margin-top: -89px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 29px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 29px;
    margin-left: 13px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-6 .u-group-2 {
    min-height: 586px;
    margin-top: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-text-5 {
    margin-top: 21px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 37px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 33px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-6 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-6 .u-text-11 {
    margin-right: 0;
    margin-left: 6px;
  }
}