 .u-section-1 {
  min-height: 541px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: -46px;
}

.u-section-1 .u-image-1 {
  min-height: 586px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/MSFT-Person-smiling-and-working-on-a-laptop-RW16PqY_VP5-1920x10801.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 96px 23px 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 16px 0 0 60px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 23px auto 0 60px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.125rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  margin: 60px auto 0 60px;
  padding: 13px 14px 13px 13px;
}

.u-section-1 .u-text-4 {
  width: auto;
  font-weight: 600;
  font-size: 3rem;
  margin: -282px 0 0 64px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 438px;
  }

  .u-section-1 .u-image-1 {
    min-height: 483px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 89px;
    margin-right: -69px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: -69px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 146px;
    margin-left: 64px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-top: 25px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-4 {
    font-weight: 700;
    margin-top: -258px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: -44px;
  }

  .u-section-1 .u-image-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 86px;
    margin-right: 309px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 115px;
    margin-left: 51px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: 51px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -212px;
    margin-right: -51px;
    margin-left: 51px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 301px;
  }

  .u-section-1 .u-image-1 {
    min-height: 345px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 73px;
    margin-right: 250px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 92px;
    margin-left: 58px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 15px;
    margin-left: 58px;
    padding: 7px 6px 8px 5px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -170px;
    margin-right: -7px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 130px;
  }

  .u-section-1 .u-image-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    font-weight: 700;
    margin-top: 63px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 135px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    padding: 6px 7px 7px 6px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-top: -142px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 469px;
}

.u-section-2 .u-text-1 {
  margin: 84px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 30px;
}

.u-section-2 .u-repeater-1 {
  min-height: 315px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 10px 29px;
}

.u-section-2 .u-image-1 {
  width: 279px;
  height: 173px;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-2 .u-line-1 {
  width: 288px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 29px;
}

.u-section-2 .u-image-2 {
  width: 279px;
  height: 173px;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  margin: 10px auto 0;
}

.u-section-2 .u-line-2 {
  width: 288px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 7px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 29px;
}

.u-section-2 .u-image-3 {
  width: 279px;
  height: 173px;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 10px auto 0;
}

.u-section-2 .u-line-3 {
  width: 288px;
  margin: 10px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 7px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 260px;
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 597px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 33px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 870px;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 33px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1406px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 650px;
  margin: 34px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 827px;
  margin: 45px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 16px 70px 0 50px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 16px 70px 0 50px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 19px 0 0 50px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  --top-right-radius: 20px;
  --bottom-left-radius: 20px;
  --bottom-right-radius: 20px;
  font-size: 1rem;
  margin: 21px auto 0 60px;
  padding: 10px 30px 12px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  --radius: 10px;
  width: 265px;
  height: 276px;
  margin: 59px auto 0;
}

.u-section-3 .u-image-2 {
  --radius: 10px;
  width: 98px;
  height: 98px;
  margin: -53px 14px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 392px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  --radius: 10px;
  height: 330px;
  width: 274px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 392px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 16px 38px 0 30px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  margin: 20px 38px 0 30px;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  margin: 21px 30px 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  --top-left-radius: 20px;
  --bottom-right-radius: 20px;
  --bottom-left-radius: 20px;
  font-size: 1rem;
  margin: 21px auto 0 30px;
  padding: 10px 30px 12px;
}

.u-section-3 .u-layout-wrap-2 {
  width: 827px;
  margin: 0 auto 34px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 422px;
}

.u-section-3 .u-container-layout-5 {
  padding: 13px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 14px 37px 0 60px;
}

.u-section-3 .u-text-9 {
  font-size: 2.25rem;
  margin: 16px 37px 0 60px;
}

.u-section-3 .u-text-10 {
  font-size: 1.125rem;
  margin: 19px 0 0 60px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  --top-right-radius: 20px;
  --bottom-left-radius: 20px;
  --bottom-right-radius: 20px;
  font-size: 1rem;
  margin: 22px auto 0 60px;
  padding: 10px 30px 12px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 422px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-image-4 {
  --radius: 10px;
  width: 318px;
  height: 276px;
  margin: 0 14px 0 auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1383px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: 37px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 37px;
    margin-left: 17px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 17px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-left: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 341px;
  }

  .u-section-3 .u-image-3 {
    width: 270px;
    height: 325px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 422px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 385px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 6px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 6px;
    margin-left: 29px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 29px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 29px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 385px;
  }

  .u-section-3 .u-image-4 {
    height: 255px;
    margin-top: 75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2098px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 28px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-right: 227px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-right: 313px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 38px;
  }

  .u-section-3 .u-image-1 {
    width: 217px;
    height: 217px;
    margin-top: -382px;
    margin-right: 67px;
  }

  .u-section-3 .u-image-2 {
    width: 86px;
    height: 86px;
    margin-top: -44px;
    margin-right: 24px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 601px;
  }

  .u-section-3 .u-image-3 {
    width: 272px;
    height: 280px;
    margin-top: 200px;
    margin-right: 41px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 10px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -584px;
    margin-right: 0;
    margin-left: 11px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-right: 92px;
    margin-left: 11px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 28px;
    margin-right: 313px;
    margin-left: 11px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 37px;
    margin-left: 116px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 556px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 313px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 45px;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 219px;
    width: 285px;
    margin-top: -373px;
    margin-right: 15px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1586px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-right: 16px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 7px;
    margin-right: 38px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-right: 170px;
    margin-left: 6px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 10px;
  }

  .u-section-3 .u-image-1 {
    width: 143px;
    height: 143px;
    margin-top: -275px;
    margin-right: 27px;
  }

  .u-section-3 .u-image-2 {
    width: 59px;
    height: 59px;
    margin-top: -28px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 463px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 145px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -435px;
    margin-right: 192px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 6px;
    margin-right: -6px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 14px;
    margin-right: 192px;
    margin-left: 6px;
  }

  .u-section-3 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 14px;
    margin-left: 49px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 468px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    width: auto;
    margin-right: 27px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 38px;
    margin-left: 6px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 6px;
  }

  .u-section-3 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 27px;
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-3 .u-image-4 {
    height: 141px;
    width: 201px;
    margin-top: -304px;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1165px;
}

.u-section-4 .u-text-1 {
  font-weight: 800;
  font-size: 3rem;
  margin: 48px 99px 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 49px 74px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 247px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: 20px auto 0 40px;
}

.u-section-4 .u-image-1 {
  width: 49px;
  height: 49px;
  margin: -39px auto 0 33px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -43px 13px 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 5px 48px 0 84px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 282px;
}

.u-section-4 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-4 .u-shape-2 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: 3px auto 0 40px;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -35px -25px 0 85px;
}

.u-section-4 .u-image-2 {
  width: 24px;
  height: 24px;
  margin: -43px auto 0 45px;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 24px 32px 0 85px;
}

.u-section-4 .u-text-7 {
  width: auto;
  font-size: 1.125rem;
  font-weight: 600;
  margin: -149px auto 0 87px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 210px;
}

.u-section-4 .u-container-layout-3 {
  padding: 26px 30px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 3px auto 0 55px;
}

.u-section-4 .u-shape-3 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: -27px auto 0 10px;
}

.u-section-4 .u-image-3 {
  width: 19px;
  height: 19px;
  margin: -27px auto 0 18px;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  margin: 1px 18px 0 54px;
}

.u-section-4 .u-text-10 {
  width: auto;
  font-weight: 600;
  font-size: 1.125rem;
  margin: -175px auto 0 59px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 217px;
}

.u-section-4 .u-container-layout-4 {
  padding: 3px 30px;
}

.u-section-4 .u-shape-4 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: 22px auto 0 9px;
}

.u-section-4 .u-image-4 {
  width: 22px;
  height: 22px;
  margin: -29px auto 0 15px;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -22px 11px 0 auto;
}

.u-section-4 .u-text-12 {
  font-size: 1.125rem;
  margin: 4px 17px 0 55px;
}

.u-section-4 .u-text-13 {
  width: auto;
  font-weight: 600;
  font-size: 1.125rem;
  margin: -160px auto 0 57px;
}

.u-section-4 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 170px;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 30px 19px;
}

.u-section-4 .u-shape-5 {
  width: 35px;
  height: 35px;
  background-image: none;
  margin: 0 auto 0 12px;
}

.u-section-4 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -30px auto 0 55px;
}

.u-section-4 .u-image-5 {
  width: 22px;
  height: 22px;
  margin: -22px auto 0 17px;
}

.u-section-4 .u-text-15 {
  font-size: 1.125rem;
  margin: 4px 17px 0 55px;
}

.u-section-4 .u-text-16 {
  width: auto;
  font-weight: 600;
  font-size: 1.125rem;
  margin: -171px auto 0 60px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 170px;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-4 .u-shape-6 {
  width: 35px;
  height: 34px;
  background-image: none;
  margin: 4px auto 0 10px;
}

.u-section-4 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -29px auto 0 55px;
}

.u-section-4 .u-image-6 {
  width: 25px;
  height: 25px;
  margin: -26px auto 0 15px;
}

.u-section-4 .u-text-18 {
  font-size: 1.125rem;
  margin: 2px 0 0 55px;
}

.u-section-4 .u-text-19 {
  width: auto;
  font-weight: 600;
  font-size: 1.125rem;
  margin: -171px auto 0 58px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  --bottom-left-radius: 20px;
  --bottom-right-radius: 20px;
  font-size: 1.875rem;
  font-weight: 800;
  margin: 52px auto 60px;
  padding: 4px 45px 6px 44px;
}

.u-section-4 .u-text-20 {
  width: auto;
  background-image: none;
  font-weight: 600;
  font-size: 1.125rem;
  margin: -704px auto 60px 93px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 26px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -45px;
    margin-right: -7px;
    margin-left: 82px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 9px;
    margin-right: 15px;
    margin-left: 90px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 7px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -31px;
    margin-left: 43px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: 26px;
    margin-right: 15px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -186px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 217px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 11px;
  }

  .u-section-4 .u-text-9 {
    font-size: 1rem;
    width: auto;
    margin-top: 19px;
    margin-right: 0;
    margin-left: 59px;
  }

  .u-section-4 .u-text-10 {
    font-weight: 700;
    margin-top: -149px;
  }

  .u-section-4 .u-shape-4 {
    margin-top: 12px;
    margin-left: 8px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 14px;
  }

  .u-section-4 .u-text-12 {
    font-size: 1rem;
    width: auto;
    margin-top: 22px;
    margin-right: 0;
    margin-left: 57px;
  }

  .u-section-4 .u-text-13 {
    font-weight: 700;
    margin-top: -156px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 215px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-shape-5 {
    margin-top: 10px;
    margin-left: 15px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -28px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-15 {
    font-size: 1rem;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-4 .u-text-16 {
    font-weight: 700;
    margin-top: -135px;
    margin-left: 65px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 215px;
  }

  .u-section-4 .u-shape-6 {
    margin-top: 21px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -30px;
    margin-left: 17px;
  }

  .u-section-4 .u-text-18 {
    font-size: 1rem;
    width: auto;
    margin-top: 21px;
    margin-left: 58px;
  }

  .u-section-4 .u-text-19 {
    font-weight: 700;
    margin-top: -158px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .u-section-4 .u-text-20 {
    margin-top: -771px;
    margin-right: 525px;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 18px;
    margin-left: 19px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 8px;
    margin-left: 63px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 213px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: 12px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 17px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 17px;
    margin-right: 6px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: -122px;
    margin-left: 51px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 183px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-3 {
    margin-left: 19px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 27px;
  }

  .u-section-4 .u-text-9 {
    font-size: 0.75rem;
    margin-top: 21px;
    margin-right: 8px;
    margin-left: 63px;
  }

  .u-section-4 .u-text-10 {
    font-size: 0.875rem;
    margin-top: -125px;
    margin-right: 0;
    margin-left: 65px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 183px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-4 {
    margin-top: 9px;
    margin-left: 12px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 18px;
  }

  .u-section-4 .u-text-12 {
    font-size: 0.875rem;
    margin-top: 13px;
    margin-right: 9px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-13 {
    font-size: 0.875rem;
    margin-top: -129px;
    margin-right: 28px;
    margin-left: 51px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 13px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 202px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
  }

  .u-section-4 .u-shape-5 {
    margin-top: 0;
    margin-right: 306px;
    margin-left: 19px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 24px;
  }

  .u-section-4 .u-text-15 {
    font-size: 0.75rem;
    margin-top: 9px;
    margin-right: 9px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-16 {
    font-size: 0.875rem;
    margin-top: -103px;
    margin-right: 9px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 202px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-shape-6 {
    margin-top: 0;
    margin-left: 12px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 16px;
  }

  .u-section-4 .u-text-18 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-right: 13px;
    margin-left: 47px;
  }

  .u-section-4 .u-text-19 {
    font-size: 0.875rem;
    margin-top: -117px;
    margin-right: -3px;
    margin-left: 51px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -7px;
  }

  .u-section-4 .u-text-20 {
    font-weight: 700;
    font-size: 0.875rem;
    margin: -641px 380px 556px 62px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 26px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 140px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -9px;
    margin-right: 13px;
    margin-left: 58px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 18px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 11px;
    margin-left: 58px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -85px;
    margin-left: 58px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 135px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 12px;
    margin-left: 11px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 19px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 17px;
    margin-right: 13px;
    margin-left: 58px;
  }

  .u-section-4 .u-text-10 {
    margin-top: -93px;
    margin-right: 7px;
    margin-left: 58px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 141px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 59px;
  }

  .u-section-4 .u-text-13 {
    margin-top: -100px;
    margin-right: 20px;
    margin-left: 59px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 127px;
  }

  .u-section-4 .u-shape-5 {
    margin-right: 493px;
    margin-left: 12px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 17px;
  }

  .u-section-4 .u-text-16 {
    margin-top: -86px;
    margin-right: auto;
    margin-left: 62px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-4 .u-image-6 {
    width: 24px;
    height: 24px;
    margin-left: 17px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 12px;
    margin-left: 62px;
  }

  .u-section-4 .u-text-19 {
    margin-top: -86px;
    margin-right: -14px;
    margin-left: 62px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-4 .u-text-20 {
    margin-top: -872px;
    margin-right: 100px;
    margin-left: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 22px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 5px;
    margin-left: 8px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -40px;
    margin-left: 1px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 158px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 7px;
    margin-left: 8px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 22px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.75rem;
    margin: -124px -9px 95px 49px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 114px;
  }

  .u-section-4 .u-shape-3 {
    margin-top: 6px;
    margin-left: 7px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 15px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 16px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-4 .u-text-10 {
    font-size: 0.75rem;
    margin-top: -90px;
    margin-right: 12px;
    margin-left: 47px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 128px;
  }

  .u-section-4 .u-shape-4 {
    margin-top: 7px;
    margin-left: 7px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-12 {
    font-size: 0.75rem;
    margin-top: 26px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-13 {
    font-size: 0.75rem;
    margin-top: -103px;
    margin-right: -11px;
    margin-left: 47px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-top: 11px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-4 .u-shape-5 {
    margin-top: 1px;
    margin-right: 298px;
    margin-left: 7px;
  }

  .u-section-4 .u-image-5 {
    margin-left: 13px;
  }

  .u-section-4 .u-text-15 {
    margin-top: 22px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-16 {
    font-size: 0.75rem;
    margin-top: -98px;
    margin-right: 31px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 164px;
  }

  .u-section-4 .u-shape-6 {
    margin-top: 17px;
    margin-left: 6px;
  }

  .u-section-4 .u-image-6 {
    margin-left: 10px;
  }

  .u-section-4 .u-text-18 {
    margin-top: 25px;
    margin-right: 6px;
    margin-left: 4px;
  }

  .u-section-4 .u-text-19 {
    font-size: 0.75rem;
    margin-top: -105px;
    margin-right: 1px;
    margin-left: 48px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 6px;
  }

  .u-section-4 .u-text-20 {
    font-size: 0.75rem;
    margin-top: -896px;
    margin-right: 0;
    margin-left: 50px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 305px;
}

.u-section-5 .u-line-1 {
  position: absolute;
  top: 22px;
  left: 367px;
  height: 227px;
  transform-origin: center top;
}

.u-section-5 .u-line-2 {
  position: absolute;
  top: 21px;
  left: auto;
  height: 228px;
  transform-origin: center top;
  right: 363px;
}

.u-section-5 .u-line-3 {
  width: 312px;
  transform-origin: left center;
  margin: 199px auto 0;
}

.u-section-5 .u-icon-1 {
  width: 95px;
  height: 95px;
  margin: 10px auto 0;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 88px;
  height: 88px;
  margin: -91px auto 0 119px;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 79px;
  height: 79px;
  margin: -75px 119px 0 auto;
  padding: 0;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: 13px -50px 0 773px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: -36px 763px 0 -50px;
}

.u-section-5 .u-text-3 {
  width: 406px;
  font-size: 1.875rem;
  margin: -36px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 19px 373px 0 394px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: -57px -23px 0 790px;
}

.u-section-5 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 600;
  margin: -56px 790px 60px -23px;
}

.u-section-5 .u-line-4 {
  width: 312px;
  transform-origin: left center;
  margin: 249px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-line-1 {
    top: 14px;
    left: 317px;
    height: 316px;
  }

  .u-section-5 .u-line-2 {
    top: 14px;
    height: 318px;
    right: 290px;
  }

  .u-section-5 .u-icon-1 {
    width: 104px;
    height: 103px;
    margin-top: 14px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: -90px;
    margin-left: 83px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -79px;
    margin-right: 92px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-right: -22px;
    margin-left: 645px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -93px;
    margin-right: 711px;
    margin-left: 25px;
  }

  .u-section-5 .u-text-3 {
    width: 201px;
    margin-top: -61px;
  }

  .u-section-5 .u-text-4 {
    width: 264px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -80px;
    margin-right: 0;
    margin-left: 667px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -103px;
    margin-right: 667px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-line-1 {
    top: 15px;
    left: 236px;
    height: 276px;
  }

  .u-section-5 .u-line-2 {
    height: 275px;
    right: 224px;
  }

  .u-section-5 .u-icon-1 {
    width: 82px;
    height: 81px;
  }

  .u-section-5 .u-icon-2 {
    width: 68px;
    height: 68px;
    margin-top: -75px;
    margin-left: 80px;
  }

  .u-section-5 .u-icon-3 {
    width: 69px;
    height: 69px;
    margin-top: -67px;
    margin-right: 78px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 9px;
    margin-right: 0;
    margin-left: 496px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -57px;
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-top: -58px;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.875rem;
    width: 242px;
    margin-top: 18px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -67px;
    margin-right: 9px;
    margin-left: 505px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -67px;
    margin-right: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-line-1 {
    top: 14px;
    left: 178px;
  }

  .u-section-5 .u-line-2 {
    top: 15px;
    right: 162px;
  }

  .u-section-5 .u-icon-1 {
    width: 68px;
    height: 67px;
    margin-top: 43px;
  }

  .u-section-5 .u-icon-2 {
    width: 51px;
    height: 51px;
    margin-top: -59px;
    margin-left: 64px;
  }

  .u-section-5 .u-icon-3 {
    width: 61px;
    height: 61px;
    margin-top: -53px;
    margin-right: 50px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 6px;
    margin-left: 376px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -48px;
    margin-right: 373px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    width: 188px;
    margin-top: -48px;
  }

  .u-section-5 .u-text-4 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 14px;
    margin-right: 162px;
    margin-left: 182px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -59px;
    margin-right: 11px;
    margin-left: 387px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.75rem;
    margin-top: -75px;
    margin-right: 368px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-5 .u-line-1 {
    top: -5208px;
    left: -5340px;
    height: 0;
  }

  .u-section-5 .u-line-2 {
    top: -5208px;
    left: -5340px;
    height: 0;
    right: 363px;
  }

  .u-section-5 .u-line-3 {
    margin-top: 211px;
  }

  .u-section-5 .u-icon-1 {
    width: 69px;
    height: 69px;
    margin-top: 24px;
  }

  .u-section-5 .u-icon-2 {
    width: 58px;
    height: 58px;
    margin-top: -283px;
    margin-left: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 393px;
    margin-right: 130px;
  }

  .u-section-5 .u-text-1 {
    width: 248px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: 241px;
    margin-top: -483px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: 238px;
    margin-top: 199px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 190px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-6 {
    margin: -518px 14px 0;
  }

  .u-section-5 .u-line-4 {
    margin-top: 291px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 433px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 49px auto 0;
}

.u-section-6 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 29px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 272px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-text-3 {
  margin: 6px 2px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  margin: 11px 5px 0;
}

.u-section-6 .u-line-1 {
  position: absolute;
  top: 27px;
  left: auto;
  height: 227px;
  transform-origin: center top;
  right: -4px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-5 {
  margin: 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 6px 2px 0;
}

.u-section-6 .u-text-7 {
  font-size: 1rem;
  margin: 11px 5px 0;
}

.u-section-6 .u-line-2 {
  position: absolute;
  top: 27px;
  left: auto;
  height: 227px;
  transform-origin: center top;
  right: -4px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-text-8 {
  margin: 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 6px 2px 0;
}

.u-section-6 .u-text-10 {
  font-size: 1rem;
  margin: 11px 5px 0;
}

.u-section-6 .u-line-3 {
  position: absolute;
  top: 27px;
  left: auto;
  height: 227px;
  transform-origin: center top;
  right: -4px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 244px;
  right: 313px;
}

.u-section-6 .u-text-11 {
  width: auto;
  margin: 21px 0 0;
}

.u-section-6 .u-text-12 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-6 .u-text-13 {
  font-size: 1rem;
  width: auto;
  margin: 20px 0 60px;
}

.u-section-6 .u-text-14 {
  width: auto;
  margin: 89px 0 0;
}

.u-section-6 .u-text-15 {
  width: auto;
  margin: 20px 0 0;
}

.u-section-6 .u-text-16 {
  font-size: 1rem;
  width: auto;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 486px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 15px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-6 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-top: 15px;
    margin-right: 7px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    margin-bottom: 49px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    grid-auto-columns: calc(50% - 5.0000025px);
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 260px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-text-6 {
    width: auto;
  }

  .u-section-6 .u-text-8 {
    width: auto;
  }

  .u-section-6 .u-text-9 {
    width: auto;
  }

  .u-section-6 .u-text-11 {
    margin-top: -54px;
  }

  .u-section-6 .u-text-12 {
    margin-top: 15px;
  }

  .u-section-6 .u-text-13 {
    margin-top: 12px;
    margin-bottom: 0;
  }

  .u-section-6 .u-text-14 {
    margin-top: 67px;
  }

  .u-section-6 .u-text-16 {
    margin-top: 15px;
    margin-bottom: 49px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-text-11 {
    margin-top: 20px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 62px auto 0 13px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 55px 0 0 13px;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  margin: 13px 581px 0 13px;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 54px 0 0 13px;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  margin: 13px 581px 0 13px;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 66px 0 0 13px;
}

.u-section-7 .u-text-7 {
  font-size: 1rem;
  margin: 13px 581px 0 13px;
}

.u-section-7 .u-image-1 {
  --radius: 10px;
  width: 504px;
  height: 648px;
  margin: -620px 23px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: -13px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 394px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 50px;
    margin-right: -13px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 394px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-right: -13px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-right: 394px;
  }

  .u-section-7 .u-image-1 {
    width: 381px;
    height: 585px;
    margin-top: -575px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 360px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 360px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 360px;
  }

  .u-section-7 .u-image-1 {
    width: 330px;
    height: 574px;
    margin-top: -668px;
    margin-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 39px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 28px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 28px;
    margin-right: 325px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 28px;
    margin-right: 13px;
  }

  .u-section-7 .u-image-1 {
    width: 514px;
    height: 310px;
    margin-top: 55px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 125px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 205px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1038px;
}

.u-section-8 .u-text-1 {
  font-size: 3.61111rem;
  text-transform: none;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-8 .u-shape-1 {
  height: 835px;
  width: 1098px;
  background-image: none;
  --radius: 20px;
  margin: 25px auto 0;
}

.u-section-8 .u-shape-2 {
  height: 812px;
  width: 1026px;
  background-image: none;
  --radius: 20px;
  margin: -823px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 954px;
  margin: -763px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 741px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px 7px 0;
}

.u-section-8 .u-text-3 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 25px 7px 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 69px auto 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 741px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  margin: 17px 20px 0;
}

.u-section-8 .u-text-5 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 20px 19px 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 741px;
}

.u-section-8 .u-container-layout-3 {
  padding: 0;
}

.u-section-8 .u-image-3 {
  height: 234px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 0 0 12px;
}

.u-section-8 .u-text-7 {
  line-height: 1.8;
  font-size: 1rem;
  margin: 31px 9px 0 21px;
}

.u-section-8 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-8 .u-shape-1 {
    width: 940px;
  }

  .u-section-8 .u-shape-2 {
    height: 810px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 920px;
    margin-top: -772px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 768px;
  }

  .u-section-8 .u-image-1 {
    height: 231px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 82px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 768px;
  }

  .u-section-8 .u-image-2 {
    height: 231px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 768px;
  }

  .u-section-8 .u-image-3 {
    height: 231px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 7px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-8 .u-shape-1 {
    height: 758px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-shape-2 {
    height: 722px;
    margin-top: -746px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 690px;
    margin-top: -707px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 717px;
  }

  .u-section-8 .u-image-1 {
    height: 183px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.875rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 44px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 717px;
  }

  .u-section-8 .u-image-2 {
    height: 181px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 21px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 717px;
  }

  .u-section-8 .u-image-3 {
    height: 185px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
  }

  .u-section-8 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 21px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-8 .u-btn-4 {
    margin-top: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2698px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-8 .u-shape-1 {
    height: 2477px;
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-shape-2 {
    height: 2425px;
    margin-top: -2451px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -2394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 838px;
  }

  .u-section-8 .u-image-1 {
    height: 548px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 12px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 17px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 17px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 725px;
  }

  .u-section-8 .u-image-2 {
    height: 425px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 12px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 12px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: 12px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 827px;
  }

  .u-section-8 .u-image-3 {
    height: 547px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2272px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-shape-1 {
    height: 2047px;
    margin-top: 21px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-shape-2 {
    height: 2009px;
    margin-top: -2037px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -1961px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-8 .u-image-1 {
    height: 345px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 590px;
  }

  .u-section-8 .u-image-2 {
    height: 268px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 675px;
  }

  .u-section-8 .u-image-3 {
    height: 344px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-btn-4 {
    margin-top: 42px;
  }
}