 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 636px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.125rem;
  margin: 69px auto 0 39px;
}

.u-section-1 .u-image-1 {
  width: 602px;
  height: 377px;
  margin: -49px 21px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  margin: -307px 623px 0 39px;
}

.u-section-1 .u-icon-1 {
  width: 36px;
  height: 36px;
  background-image: none;
  margin: 22px auto 0 39px;
  padding: 6px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: -31px 623px 0 80px;
}

.u-section-1 .u-icon-2 {
  width: 36px;
  height: 36px;
  background-image: none;
  margin: 26px auto 0 39px;
  padding: 7px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-weight: 400;
  margin: -30px 623px 0 80px;
}

.u-section-1 .u-icon-3 {
  width: 36px;
  height: 36px;
  background-image: none;
  margin: 27px auto 0 39px;
  padding: 7px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  margin: -31px 623px 0 80px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 20px;
  font-weight: 600;
  font-size: 1rem;
  margin: 32px auto 60px 39px;
  padding: 10px 38px 10px 36px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    width: 498px;
    height: 306px;
    margin-top: 0;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -285px;
    margin-right: 516px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -26px;
    margin-right: 422px;
    margin-left: 81px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -26px;
    margin-right: 633px;
    margin-left: 81px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 422px;
    margin-left: 81px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 69px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 12px;
  }

  .u-section-1 .u-image-1 {
    width: 437px;
    height: 483px;
    margin-top: -99px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -350px;
    margin-right: 380px;
    margin-left: 12px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -43px;
    margin-right: 439px;
    margin-left: 56px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 29px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -31px;
    margin-right: 442px;
    margin-left: 52px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 42px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -43px;
    margin-right: 441px;
    margin-left: 53px;
  }

  .u-section-1 .u-btn-1 {
    margin: -66px 62px 59px auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 43px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 337px;
    height: 217px;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -189px;
    margin-right: 296px;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -36px;
    margin-right: 314px;
    margin-left: 58px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 22px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -28px;
    margin-right: 314px;
    margin-left: 58px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -38px;
    margin-right: 314px;
    margin-left: 58px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -65px;
    margin-right: 24px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-1 .u-image-1 {
    height: 137px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 21px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    font-weight: 600;
    margin-top: -26px;
    margin-right: 0;
    margin-left: 45px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    font-weight: 600;
    margin-top: -27px;
    margin-right: 127px;
    margin-left: 45px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
    font-weight: 600;
    margin-top: -26px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin: 35px auto 32px 58px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 763px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 53px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 591px;
  background-image: none;
  --radius: 20px;
  margin-top: 65px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 259px;
  height: 259px;
  background-image: url("images/1711703491069.jpeg");
  background-position: 50% 50%;
  margin: -566px auto 0 38px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1rem;
  margin: -249px 0 0 335px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px 0 0 335px;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  margin: 9px 10px 0 335px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  margin: -221px 904px 0 99px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 24px 849px 0 25px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  --radius: 20px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 25px auto 0 72px;
  padding: 10px 38px 10px 36px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  margin: 25px 860px 0 36px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: -37px 134px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 892px;
  }

  .u-section-2 .u-shape-1 {
    height: 718px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -714px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -237px;
    margin-right: 383px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 14px;
    margin-right: 410px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-right: 14px;
    margin-left: 298px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -332px;
    margin-right: 733px;
    margin-left: 65px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 33px;
    margin-right: 674px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 53px;
    margin-left: 50px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 72px;
    margin-right: 688px;
    margin-left: 21px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -5px;
    margin-right: 34px;
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-2 .u-shape-1 {
    height: 702px;
  }

  .u-section-2 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-top: -697px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -174px;
    margin-right: 241px;
    margin-left: 220px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 11px;
    margin-right: 267px;
    margin-left: 220px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 18px;
    margin-right: 11px;
    margin-left: 220px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -408px;
    margin-right: 556px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 28px;
    margin-right: 515px;
    margin-left: 11px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 41px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: 51px;
    margin-right: 540px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
    margin: 118px 36px 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-2 .u-shape-1 {
    height: 476px;
    margin-top: 64px;
  }

  .u-section-2 .u-image-1 {
    width: 135px;
    height: 135px;
    margin-top: -470px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -120px;
    margin-right: 128px;
    margin-left: 153px;
  }

  .u-section-2 .u-text-3 {
    width: 233px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 21px;
    margin-right: 15px;
    margin-left: 153px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.75rem;
    margin-top: -274px;
    margin-right: 414px;
    margin-left: 23px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 395px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 26px;
    margin-left: 22px;
    padding: 7px 23px 9px 22px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 42px;
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.75rem;
    margin: 49px 0 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 39px;
  }

  .u-section-2 .u-shape-1 {
    height: 621px;
    margin-top: 59px;
  }

  .u-section-2 .u-image-1 {
    width: 100px;
    height: 100px;
    margin-top: -615px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -85px;
    margin-right: 65px;
    margin-left: 115px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 5px;
    margin-right: 53px;
    margin-left: 115px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 47px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 27px;
    margin-right: 173px;
    margin-left: 19px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 44px;
    margin-right: 162px;
    margin-left: 44px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 22px;
    margin-left: auto;
    padding-right: 46px;
    padding-left: 45px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.625rem;
    margin-top: -477px;
    margin-right: 63px;
    margin-left: 115px;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.625rem;
    width: 248px;
    margin: 480px auto 21px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 762px;
}

.u-section-3 .u-shape-1 {
  height: 704px;
  background-image: none;
  --radius: 20px;
  margin-top: 62px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 259px;
  height: 259px;
  background-image: url("images/doc.jpeg");
  background-position: 50% 50%;
  margin: -679px auto 0 38px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 1rem;
  margin: -249px 0 0 335px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px 0 0 335px;
}

.u-section-3 .u-text-3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  margin: 10px 10px 0 335px;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: -325px 923px 0 99px;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 35px 840px 0 34px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  --radius: 20px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 26px auto 0 81px;
  padding: 10px 38px 10px 36px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 52px 874px 0 68px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 62px 18px 26px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-shape-1 {
    height: 777px;
    margin-top: 66px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -767px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -246px;
    margin-right: 383px;
    margin-left: 298px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 410px;
    margin-left: 298px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: 13px;
    margin-left: 298px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -454px;
    margin-right: 733px;
    margin-left: 78px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-right: 686px;
    margin-left: 31px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 37px;
    margin-left: 56px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 41px;
    margin-right: 705px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin: 44px 655px 50px 13px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-3 .u-shape-1 {
    height: 688px;
    margin-top: 62px;
  }

  .u-section-3 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-top: -683px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -164px;
    margin-right: 241px;
    margin-left: 220px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 12px;
    margin-right: 267px;
    margin-left: 220px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 220px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -458px;
    margin-right: 556px;
    margin-left: 53px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 22px;
    margin-right: 513px;
    margin-left: 13px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 29px;
    margin-left: 27px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    margin-right: 524px;
    margin-left: 21px;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.875rem;
    margin-top: 41px;
    margin-right: 503px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-3 .u-shape-1 {
    height: 531px;
  }

  .u-section-3 .u-image-1 {
    width: 135px;
    height: 135px;
    margin-top: -526px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -120px;
    margin-right: 128px;
    margin-left: 153px;
  }

  .u-section-3 .u-text-2 {
    width: 233px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 31px;
    margin-left: 154px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -359px;
    margin-right: 411px;
    margin-left: 32px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.625rem;
    font-weight: 500;
    margin-top: 18px;
    margin-right: 393px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 25px;
    margin-left: 13px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
    margin: 50px 386px 60px 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.625rem;
    margin-top: 39px;
    margin-right: 392px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-3 .u-shape-1 {
    height: 704px;
    margin-top: 69px;
  }

  .u-section-3 .u-image-1 {
    width: 100px;
    height: 100px;
    margin-top: -698px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -85px;
    margin-right: 65px;
    margin-left: 115px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 5px;
    margin-right: 53px;
    margin-left: 115px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 45px;
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 27px;
    margin-right: 173px;
    margin-left: 19px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -516px;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.625rem;
    margin: -531px 65px 0 113px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 546px;
    margin-right: 0;
    margin-bottom: 23px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 573px;
}

.u-section-4 .u-shape-1 {
  height: 513px;
  background-image: none;
  --radius: 20px;
  margin: 62px 0 0;
}

.u-section-4 .u-image-1 {
  width: 259px;
  height: 259px;
  background-image: url("images/1707559075206.jpg");
  background-position: 50% 50%;
  margin: -488px auto 0 38px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 1rem;
  margin: -249px 0 0 335px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 10px 0 0 335px;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  margin: 31px 10px 0 335px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  margin: 13px 882px 0 77px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  --radius: 20px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 19px auto 0 81px;
  padding: 10px 38px 10px 36px;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 27px 874px 0 68px;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  margin: -69px 0 0 335px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: -109px 296px 60px 546px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    height: 506px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    margin-top: -496px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -232px;
    margin-right: 383px;
    margin-left: 298px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 326px;
    margin-left: 298px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 298px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 18px;
    margin-right: 705px;
    margin-left: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 35px;
    margin-left: 56px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 34px;
    margin-right: 705px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -115px;
    margin-right: 75px;
    margin-left: 298px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -129px;
    margin-right: 210px;
    margin-left: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-4 .u-shape-1 {
    height: 404px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 191px;
    height: 191px;
    margin-top: -393px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -174px;
    margin-right: 236px;
    margin-left: 225px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 11px;
    margin-right: 185px;
    margin-left: 225px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 11px;
    margin-right: 18px;
    margin-left: 225px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -18px;
    margin-right: 532px;
    margin-left: 27px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 14px;
    margin-left: 26px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    margin-top: 19px;
    margin-right: 525px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -53px;
    margin-right: 18px;
    margin-left: 197px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.875rem;
    margin: -107px 122px 111px 301px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-4 .u-shape-1 {
    height: 329px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 135px;
    height: 135px;
    margin-top: -323px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -115px;
    margin-right: 123px;
    margin-left: 158px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 149px;
    margin-left: 159px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 159px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -76px;
    margin-right: 382px;
    margin-left: 13px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 18px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 28px;
    margin-right: 392px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 0.625rem;
    margin-top: -33px;
    margin-right: 0;
    margin-left: 146px;
  }

  .u-section-4 .u-text-7 {
    font-size: 0.625rem;
    margin: -71px 69px 60px 174px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-4 .u-shape-1 {
    height: 427px;
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 100px;
    height: 100px;
    margin-top: -433px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -86px;
    margin-right: 33px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 6px;
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 49px;
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -132px;
    margin-right: 149px;
    margin-left: 43px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 134px;
    margin-left: auto;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.625rem;
    margin-top: -305px;
    margin-right: 68px;
    margin-left: 110px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 168px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: -77px;
    margin-left: 22px;
    margin-right: 22px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 441px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.125rem;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 42px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 84px;
    margin-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 52px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 79px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    margin-top: 66px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
    margin-top: 66px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 506px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0 27px;
}

.u-section-6 .u-text-2 {
  margin: 36px auto 0 27px;
}

.u-section-6 .u-text-3 {
  margin: 36px 47px 0 27px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 44px auto 0 27px;
}

.u-section-6 .u-text-5 {
  margin: 33px auto 0 27px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 39px;
    margin-left: 21px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 15px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-6 .u-text-1 {
    margin-right: -19px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 791px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1425px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 592px;
  grid-auto-columns: 50%;
  grid-gap: 0px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-image-1 {
  height: 259px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  line-height: 1.56;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-image-2 {
  height: 259px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-7 .u-text-6 {
  line-height: 1.56;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 35px auto 0 22px;
}

.u-section-7 .u-text-8 {
  font-weight: 500;
  margin: 35px 22px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 488px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 15px;
  }

  .u-section-7 .u-image-1 {
    height: 208px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 15px;
  }

  .u-section-7 .u-image-2 {
    height: 208px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2220px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-image-1 {
    height: 335px;
  }

  .u-section-7 .u-image-2 {
    height: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 264px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 264px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2331px;
  }

  .u-section-7 .u-image-1 {
    height: 162px;
  }

  .u-section-7 .u-image-2 {
    height: 162px;
  }
}